*{
    /*ROOT---------------------------*/
    -fx-root-background-color: #100c49;
    /*SCROLLPANE---------------------------*/
    -fx-scrollpane-track-background-color:-fx-textfield-background-color;
    -fx-scrollpane-track-thump-background-color: #130b77;
}
.root{
    -fx-background-color: -fx-root-background-color;
    background-color: -fx-root-background-color;
}
/*
.hbox{
    -fx-background-color: -fx-root-background-color;
    background-color: -fx-root-background-color;
}
*/
/*SCROLL PANE*/
.scroll-pane > .viewport {
    -fx-background-color: transparent;
    background-color: transparent;
 }
 .scroll-pane {
    -fx-background-color: transparent;
    background-color: transparent;
 }
 .scroll-pane .increment-button, .decrement-button {
    -fx-background-color: -fx-scrollpane-track-background-color;
    background-color: -fx-scrollpane-track-background-color;
    /*-fx-border-color: -fx-scrollpane-track-background-color;*/
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: -fx-scrollpane-track-background-color;
    background-color: -fx-scrollpane-track-background-color;
    /*-fx-border-color: transparent;*/
    /*-fx-background-radius: 0em;*/
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-scrollpane-track-thump-background-color;
    background-color: -fx-scrollpane-track-thump-background-color;
    /*-fx-background-radius: 5em;*/
}
.border-pane{
    -fx-background-color: yellow;
    background-color: yellow;
}
.border-pane .bottom{
    -fx-background-color: blue;
    background-color: blue;
}

